@media (max-width: 767px){
	*{
		margin: 0px;
		padding: 0px;
	}
	li{
		list-style-type: none;
	}
	@font-face{
		font-family: "Uotfit";
		src: url(/Шрифты/outfit/Outfit-VariableFont_wght.ttf);
		margin: 0;
	}
	@font-face{
		font-family: "Lexend";
		src: url(/Шрифты/Lexend/Lexend-VariableFont_wght.ttf);
		margin: 0;
	}
	@font-face{
		font-family: "Montserrat Alternates";
		src: url(/Шрифты/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
		margin: 0;
	}
	@font-face{
		font-family: "Montserrat AlternatesMedium";
		src: url(/Шрифты/Montserrat_Alternates/MontserratAlternates-Medium.ttf);
		margin: 0;
	}
	body{
		margin: 0;
		width: auto;
		height: max-content;
	}
	.header_navBlock{
		font-family: "Uotfit";
		font-weight: 700;
		display: flex;
		justify-content: space-between;
		max-width: 390px;
		margin: 0 auto;
		padding: 20px; 
	}
	.logoBlock{
		width: 108px;
		height: 50px;
		display: flex;
		width: max-content;
	}
	.textLogo{
		font-size: 16px;
		color: #ffffff;
		padding: 16px 0 16px 0;
	}
	.ul_blockHeader{
		display: none;
	}
	.itemLi_link{
		display: none;
	}
	/* main */
	.mainBlock{
		width: 390px;
		margin: 0 auto;
		height: max-content;
	}
	.bgUpProduct{
		background-image: url(/img/bgProduct2.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 70% 0;
		width: auto;
		height: 300px;
		margin-bottom: 20px;
	}
	.filter_block__mainBlock{
		margin: 20px 0px 20px 40px ;
		width: max-content;
	}
	.textbgUpProduct{
		position: relative;
		font-family: "Montserrat AlternatesMedium";
		color: #fff;
		font-size: 30px;
		left: 10px;
		top: 150px;
		width: max-content;
	}
	.productBlock_mainBlock{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}
	/* footer */
	footer{
		/* display: flex;
		justify-content: center; */
		background-color: #302F30;
		width: auto;
		height: 580px;
	}
	.footer_block{
		padding-top: 32px;
		width: 390px;
		margin: 0 auto;
		height: auto;
		display: flex;
		flex-direction: column;
	}
	.LogoFooter{
		width: 50px;
		height: 50px;
	}
	.LogoFooter_block{
		display: flex;
		flex-direction:row;
		width: 146px;
		height: 50px;
		justify-content: space-between;
		margin: 0 0 40px 0;
	}
	.textFotMob{
		display: block;
		color: #A7A7A5;
		font-size: 24px;
		margin-top: 12px;
		font-family: "Montserrat AlternatesMedium";
	}
	.textLogoFooter_block{
		display: none;
		font-family: "Montserrat AlternatesMedium";
		width: 175px;
		height: auto;
		color: #A7A7A5;
		font-size: 13px;
	}
	.reponsiveBlock_mob{
		display: flex;
		flex-wrap: wrap;
		width: 386px;
		height: max-content;
		margin-left: 32px; 
	}
	.Link_footerBlock{
		display: flex;
		flex-direction: column;
		width: 145px;
	}
	.fastLink_block_footer:nth-child(3){
		width: 326px;
	}
	.fastLink_block_footer:nth-child(2){
		width: 143px;
	}
	.fastLink_block_footer:nth-child(1){
		width: 143px;
		margin-right: 40px;
	}
	.fastLink_block_footer{
		width: 145px;
		margin-right: 20px;
	}
	.itemLink_footerBlock{
		padding-bottom: 10px;
	}
	.itemLink_footerBlock:first-child{
		width: 220px;
		padding: 0px;
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.itemLink_footerBlock a{
		font-family: "Montserrat AlternatesMedium";
		color: #A7A7A5;
		font-size: 16px;
		padding-bottom: 10px;
		text-decoration: none;
		cursor: pointer;
		transition: ease 500ms;
	}
	.itemLink_footerBlock a:hover{
		transition: ease 500ms;
		color: white;
	}
	.SkiwearInc{
		display: block;
		font-family: "Montserrat AlternatesMedium";
		width: 175px;
		height: auto;
		color: #A7A7A5;
		font-size: 13px;
		margin-left: 32px;
		margin-top: 40px;
	}
}