*{
	margin: 0px;
	padding: 0px;
}
li{
	list-style-type: none;
}
@font-face{
	font-family: "Uotfit";
	src: url(/Шрифты/outfit/Outfit-VariableFont_wght.ttf);
	margin: 0;
}
@font-face{
	font-family: "Lexend";
	src: url(/Шрифты/Lexend/Lexend-VariableFont_wght.ttf);
	margin: 0;
}
@font-face{
	font-family: "Montserrat Alternates";
	src: url(/Шрифты/Montserrat_Alternates/MontserratAlternates-SemiBold.ttf);
	margin: 0;
}
@font-face{
	font-family: "Montserrat AlternatesMedium";
	src: url(/Шрифты/Montserrat_Alternates/MontserratAlternates-Medium.ttf);
	margin: 0;
}
body{
	margin: 0;
	width: auto;
}
header{
	background-color: #E06D3B;
	font-family: "Uotfit";
}
.header_navBlock{
	font-family: "Uotfit";
	display: flex;
	justify-content: space-between;
	max-width: 1440px;
	margin: 0 auto;
  padding: 20px; 
}
.logoBlock{
	display: flex;
	width: max-content;
}
.textLogo{
	font-size: 24px;
	color: #ffffff;
	padding: 12px 12px;
}
.ul_blockHeader{
	display: flex;
	list-style-type: none;

}
.ul_blockHeader a{

	text-decoration: none;
	color: #ffffff;
}
.itemLi_link{
	font-family: "Montserrat Alternates";
	font-weight: 100;
	margin-right: 30px;
	align-items: center;
	display: flex; 
	align-items: center; 
	justify-content: center; 
}


/* -----------main             */

.firstMainBlock{
	font-family: "Montserrat Alternates";
	width: 1440px;
	height: 900px;
	margin: 0 auto;
  padding: 20px; 
	background-image: url(/img/mainBlock.png);
	background-size: contain;
	background-repeat: no-repeat;
	
}
.mainInfo_block{
	display: flex;
	flex-direction: column;
	margin-left: 80px;
}
.mainTextInfo_block{
	width: 870px;
	margin: 147px 0 20px 0px;
	font-size: 72px;
}
.secondTextInfo_block{
	font-family: "Montserrat AlternatesMedium";
	font-size: 17px;
	line-height: 160%;
	color: #D3DBDF;
	width: 747px;
	margin-bottom: 40px;
}
.btnTextInfo_block{
	font-family: "Montserrat Alternates";
	border-radius: 10px;
	border: solid 1px black;
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 230px;
	height: 50px;
	background-color: #E76A33;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.849);
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/*  о нас  */
.aboutUs_block{
	margin: 0 auto;
  padding: 20px; 
	display: flex;
	flex-direction: column;
	width: 770px;
	height: max-content;
}
.aboutUs_MainText{
	font-family: "Montserrat AlternatesMedium";
 	font-size: 36px;
 	color: #2F2E2E;
	margin-bottom: 20px;
}
.aboutUs_secondText{
	font-family: "Montserrat AlternatesMedium";
	font-size: 18px;
	color: #747273;
}
.aboutUsMain_block{
	margin: 0 auto;
  padding: 20px; 
	display: flex;
	width: max-content;
}
.item_card-aboutUs{
	display: flex;
	flex-direction: column;
	width: 400px;
	height: 500px;
	margin-right: 30px;
}
.item_card-aboutUs:last-child{
	margin: 0px;
}
.item_card-aboutUs:nth-child(1) .photoBlock-aboutUs{
	background-image: url(/img/aboutBg3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 300px;
	margin-bottom: 18px;
}
.item_card-aboutUs:nth-child(2) .photoBlock-aboutUs{
	background-image: url(/img/aboutBg2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 300px;
	margin-bottom: 18px;
}
.item_card-aboutUs:nth-child(3) .photoBlock-aboutUs{
	background-image: url(/img/aboutBg1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 300px;
	margin-bottom: 18px;
}
.mainText_ItemCard-aboutUs{
	font-family: "Montserrat AlternatesMedium";
	color: #525053;
	font-size: 24px;
	width: 380px;
	height: 80px;
	margin: 0 10px 10px 10px;
}
.secondText_ItemCard-aboutUs{
	font-family: "Montserrat AlternatesMedium";
	font-size: 17px;
	color: #7A777A;
	margin: 0 10px 0 10px;
}
.secondBlocknull{
	background-image: url(/img/secondBlock.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 1440px;
	height: 900px;
	margin: 0 auto;
  padding: 20px; 
}
.productTextBlock{
	width: 1240px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
  padding: 20px; 
}
.mainText_Blockproduct{
	font-family: "Montserrat AlternatesMedium";
	font-size: 39px;
	color: #403E3F;
	display: flex;
	justify-content: center;
	margin-bottom: 14px;
}
.secondText_Blockproduct{
	font-family: "Montserrat AlternatesMedium";
	font-size: 21px;
	color: #8C8889;
	display: flex;
	justify-content: center;
	text-align: center;
}
/* продукт блок */
.productMain_block{
	display: flex;
	width: 1250px;
	height: 800px;
	margin: 0 auto;
  padding: 20px; 
}
.itemCardProduct_productBlock{
	width: 400px;
	height: 690px;
	display: flex;
	flex-direction: column;
	margin-right: 32px;
	justify-content: center;
}
.itemCardProduct_productBlock:last-child{
	margin: 0;
}
.itemCardProduct_productBlock:nth-child(1) .photoProduct_productBlock{
 	background-image: url(/img/product3.png);
 	background-repeat: no-repeat;
 	background-size: contain;
	width: 400px;
	height: 535px;
}
.itemCardProduct_productBlock:nth-child(2) .photoProduct_productBlock{
	background-image: url(/img/product2.png);
	background-repeat: no-repeat;
	background-size: contain;
 width: 400px;
 height: 535px;
}
.itemCardProduct_productBlock:nth-child(3) .photoProduct_productBlock{
	background-image: url(/img/product1.png);
	background-repeat: no-repeat;
	background-size: contain;
 width: 400px;
 height: 535px;
}
.mainTextItemCard_productBlock{
	font-family: "Montserrat AlternatesMedium";
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 290px;
	height: 62px;
	color: #848184;
	font-size: 19px;
	margin-bottom: 40px;
}
.secondMainTextItemCard_productBlock{
	font-family: "Montserrat Alternates";
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	color: #AAA6A6;
}
.reviewsTextBlock{
	width: 1240px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
  padding: 20px;
}
.mainText_Blockreviews{
	font-family: "Montserrat AlternatesMedium";
	font-size: 39px;
	color: #403E3F;
	display: flex;
	justify-content: center;
	margin-bottom: 14px;
}
.secondText_Blockreviews{
	font-family: "Montserrat AlternatesMedium";
	font-size: 21px;
	color: #8C8889;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-bottom: 40px;
}
/* блок с отзывами */
.reviewsMain_block{
	font-family: "Montserrat AlternatesMedium";
	display: flex;
	width: 1260px;
	height: max-content;
	margin-bottom: 120px;
}
.itemCard_productReviews{
	display: flex;
	flex-direction: column;
	width: 400px;
	height: max-content;
	margin-right: 32px;
}
.itemCard_productReviews:last-child{
	margin: 0;
}
.itemCard_productReviews:nth-child(1) .photoReviews_ReviewsBlock{
	background-image: url(/img/Reviews1.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 535px;
}
.itemCard_productReviews:nth-child(2) .photoReviews_ReviewsBlock{
	background-image: url(/img/Reviews2.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 535px;
}
.itemCard_productReviews:nth-child(3) .photoReviews_ReviewsBlock{
	background-image: url(/img/Reviews3.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 400px;
	height: 535px;
}
.ReviewsTextBlock{
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding-top: 15px;
	border: solid 1px #858184;

}
.ballBlock{
	display: flex;
	justify-content: space-between;
	color: #858184;
	font-size: 25px;
	margin-bottom: 11px;
}
.textReviews{
	color: #858184;
	display: flex;
	justify-content: space-between;
	font-size: 10px;
	padding-bottom: 25px;
}
.lastBlock{
	display: flex;
	width: 1440px;
	height: 850px;
	margin: 0 auto;
}
.mainTextBlock_lastBlock{
	display: flex;
	flex-direction: column;
	width: 580px;
	margin-top: 160px;
	margin-right: 48px;
}
.mainText_lastBlock{
	font-family: "Montserrat AlternatesMedium";
	font-size: 43px;
	color: #302F30;
	margin-bottom: 20px;
}
.secondTextBlock_lastBlock{
	font-family: "Montserrat AlternatesMedium";
	font-size: 18px;
	color: #9F9EA0;
}
.btnBuy_lastBlock{
	font-family: "Montserrat AlternatesMedium";
	background-color: #F8763E;
	width: max-content;
	border-radius: 13px;
	color: #FDDAC1;
	padding: 20px 40px 20px 40px;
	text-decoration: none;
	margin-top: 50px;
	transition: ease 500ms;
}
.btnBuy_lastBlock:hover{
	color: #302F30;
	transition: ease 500ms;
}
.mainphoto_lastBlock{
	background-image: url(/img/lastBg.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 720px;
	height: 780px;
	display: flex;
	justify-content: end;
	align-items: end;
}
.pos_photo{
	display: flex;
	justify-content: end;
	align-items: end;
}
/* подвал */
footer{
	/* display: flex;
	justify-content: center; */
	background-color: #302F30;
	width: auto;
	height: 370px;
}
.footer_block{
	padding-top: 122px;
	max-width: 1440px;
	margin: 0 auto;
	height: auto;
	display: flex;
}
.LogoFooter_block{
	display: flex;
	flex-direction: column;
	width: 175px;
	height: 170px;
	justify-content: space-between;
	margin-right: 100px;
}
.LogoFooter{
	width: 95px;
	height: 95px;
}
.textLogoFooter_block{
	font-family: "Montserrat AlternatesMedium";
	width: 175px;
	height: auto;
	color: #A7A7A5;
	font-size: 13px;

}
.fastLink_block_footer{
	width: 300px;
	margin-right: 20px;
}
.fastLink_block_footer:last-child{
	margin: 0px;
}
.Link_footerBlock{
	display: flex;
	flex-direction: column;
}
.itemLink_footerBlock:first-child{
	font-family: "Montserrat Alternates";
	color: #dededad2;
	font-size: 15px;
	margin-bottom: 20px;
}
.itemLink_footerBlock{
	font-family: "Montserrat AlternatesMedium";
	color: #A7A7A5;
	font-size: 16px;
	padding-bottom: 20px;
	text-decoration: none;
}
.itemLink_footerBlock a{
	font-family: "Montserrat AlternatesMedium";
	color: #A7A7A5;
	font-size: 16px;
	padding-bottom: 20px;
	text-decoration: none;
	cursor: pointer;
	transition: ease 500ms;
}
.itemLink_footerBlock a:hover{
	transition: ease 500ms;
	color: white;
}
.itemLink_footerBlock:last-child{
	margin: 0;
}
.textFotMob{
	display: none;
}
.reponsiveBlock_mob{
	display: flex;
}
.SkiwearInc{
	display: none;
}